*{
    font-family: 'Press Start 2P', cursive;
}
body{
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;

}
#start{
    color: white;
    text-align: center;
    font-size: 50px;
    cursor: pointer;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

#start:hover{
    color: deepskyblue;
    text-shadow:0px 0px 30px #fdec6e;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}


#nav{
    text-align: center;
    background-image: url("stars.gif");
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    border-color: black;
    box-shadow: white 1px 1px 1px 1px;
    height: 500px;
    width: 30%;
}
#content{
    color: white;
    height: 500px;
    width: 50%;
    border: 2px solid red;
}
#heroBackground{
    display: inline-block;
    text-align: center;
    background-color: grey;
    height: 200px;
    width: 200px;
}
#hero{
    height: 200px;
}
/*.unreachable{*/
/*    color: grey;*/
/*}*/
/*.unreachable:hover{*/
/*    color: red!important;*/
/*    text-shadow:0px 0px 30px red!important;*/
/*    -moz-transition: all 0.2s ease-in;*/
/*    -o-transition: all 0.2s ease-in;*/
/*    -webkit-transition: all 0.2s ease-in;*/
/*    transition: all 0.2s ease-in;*/
/*}*/

/*Part 1*/
.next{
    height: 30px;
    width: 50px;
    background-color: dodgerblue;
    color: white;
}
